.nav {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
}
.left {
    display: flex;
    justify-content: start;
    /* border: 1px solid grey; */
}
.right {
    display: flex;
    justify-content: end;
    /* border: 1px solid grey; */
}
.btn {
    width: 170px;
    height: 40px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    margin-left: -10px;
    background: none;
    border: none;
    font-size: 17px;
}
